[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition
Icon=/home/cristi/Documents/idea-IU-[replace-this]/bin/idea.png
Exec="/home/cristi/Documents/idea-IU-[replace-this]/bin/idea.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
